@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
html{
    box-sizing: border-box;
    font-size: 100%;
}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
    font-family: "Inter", sans-serif;
}

nav{
    height: 65px;
    color: #64748B;
}

.search{
    width: 622px;
    height: 40px;
    border: 1px solid #334155;
    border-radius: 10px;
    color:#334155 ;
}
.search input{
    border: none;
}



.nav-btn-1{
    color: #334155;
    border: 1px solid #334155;
    width: 61px;
    height: 40px;
    background-color: white;
    margin-inline: 24px;
}
.nav-btn-2{
    color: white;
    width: 73px;
    height: 40px;
    background-color: #334155;
}

.panner{
    height: 100vh;
}

.panner h1{
    font-weight: bold;
    color: #0F172A;
    padding-top: 25%;
}

.panner p{
    color: #334155;
}

.info{
    background-color: #F8FAFC;
    height: max(100%,149px);
    padding:40px 0;
    margin: 60px 0;
}

.info h2 , .info p{
    color: #0F172A;
}

.info p{
font-size: 14px;
}

.head {
    margin-bottom: 24px;
}

.categories img{
    width: 100px;
    min-height: 100px;
}

.cards{
    margin-bottom: 60px;
}


.categories h4 , .courses h4 , .courses h5 ,.instructors h5{
    color: #0F172A;
}

.categories p , .courses p ,.instructors p{
    color: #334155;
}
 .card .d-flex img { 
    height: 20px;
    padding-top: 5px;
 }

 .courses h4{
    font-weight: bold;
 }

.feedback{
    background-color: #F8FAFC;
    padding-top: 80px;
    padding-bottom: 60px;
    margin-bottom: 60px;
} 

.feedback .card {
    margin: 15px;
}

.feedback .carousel-control-prev-icon,
.feedback .carousel-control-next-icon {
    background-color: black;
}
.feedback .carousel-controls {
    position: absolute;
    top: -35px;
    right: 50px;
    z-index: 1000;
}
.feedback .carousel-controls button {
    background-color: #94A3B8;
    border: none;
    margin-inline: 20px;
    color: white;
    cursor: pointer;
    width: 56px;
    height: 40px;
    border-radius: 10px;

}

.apply{
    margin-bottom: 60px;
}

.apply p{
    color: #1D2939;
}



footer{
    background-color: #1E293B;
    color: #CBD5E1;
}

footer a{
    color: #CBD5E1 ;
}

footer h5{
    color: #F1F5F9;
}